[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/themes/devfest-theme-hugo"]
	path = themes/themes/devfest-theme-hugo
	url = https://github.com/GDGToulouse/devfest-theme-hugo.git
[submodule "themes/devfest-theme-hugo"]
	path = themes/devfest-theme-hugo
	url = https://github.com/GDGToulouse/devfest-theme-hugo.git
[submodule "themes/devfest-theme-hugo"]
	path = themes/meghna-hugo.git
	url = https://github.com/themefisher/meghna-hugo.git
