{{ if .Site.Params.cta.enable}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section class="call-to-action overly">

    <div id="homepageCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homepageCarousel" data-slide-to="1"></li>
            <li data-target="#homepageCarousel" data-slide-to="2"></li>
            <li data-target="#homepageCarousel" data-slide-to="3"></li>
            <li data-target="#homepageCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" interval="4000">
            <img src="/images/carousel/splash-screen.png" class="d-block home-carousel" alt="...">
          </div>
          <div class="carousel-item" interval="4000">
            <img src="/images/carousel/first-screen.png" class="d-block home-carousel" alt="...">
          </div>
          <div class="carousel-item" interval="4000">
            <img src="/images/carousel/second-screen.png" class="d-block home-carousel" alt="...">
          </div>
          <div class="carousel-item" interval="4000">
            <img src="/images/carousel/third-screen.png" class="d-block home-carousel" alt="...">
          </div>
          <div class="carousel-item" interval="4000">
            <img src="/images/carousel/fourth-screen.png" class="d-block home-carousel" alt="...">
          </div>
        </div>
      </div>

</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}