{{ if .Site.Data.location.enable }}
{{"<!-- Start Location -->" | safeHTML}}
<section id="location-nav" class="location-nav"><span>&nbsp;</span></section>
<section id="location" class="location section section-bg padding-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.location.heading}} <span class="color">{{ .Site.Data.location.headingSpan}}</span>
                    </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            <div class="col-lg-6 text-center location-div">
                <img class="img-fluid" src="{{ .Site.Data.location.image | absURL}}" alt="venue location">
            </div>
            <div class="col-lg-6 text-center location-div">
                <div class="content-block">
                    {{with .Site.Data.location.venue.title}} <h2>{{ . }}</h2> {{ end }}
                    {{with .Site.Data.location.venue.address}} <p>{{ . }}</p> {{ end }}

                </div>
            </div>
        </div>

    </div>
</section>

{{"<!-- /location -->" | safeHTML}}
{{ end }}
