<section id="schedule" class="section schedule">
    <div class="container">
        <h1 class="text-center">DeliveryConf Schedule</h1>


        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th colspan="3" class="text-center">January 21st</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="td-md">8:00 - 9:00</th>
                    <td colspan="3">Registration</td>
                </tr>
                <tr>
                    <th scope="row">9:00 - 9:15</th>
                    <td colspan="3">Opening Welcome</td>
                </tr>
                <tr>
                    <th scope="row">9:15 - 9:50</th>
                    <td colspan="3"><a href="/talks/what-will-the-next-ten-years-of-continuous-delivery-look-like/">Main
                            Keynote: What Will
                            The Next 10 Years Of Continuous Delivery Look Like? - Dave Farley, Jez Humble</a></td>
                </tr>
                <tr>
                    <th scope="row"> 9:50 - 10:10</th>
                    <td colspan="3">Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 10:10 - 10:30</th>
                    <td colspan="3">Break</td>
                </tr>

                <tr>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:30%">Room 1</th>
                    <th scope="col" style="width:30%">Room 2</th>
                    <th scope="col" style="width:30%">Room 3</th>
                </tr>


                <tr>
                    <th scope="row"> 10:30 - 11:00</th>
                    <td><a href="/talks/a-whole-team-approach-to-testing-in-continuous-delivery/">A Whole Team Approach
                            to
                            Testing in Continuous Delivery - Lisa Crispin</a></td>
                    <td><a href="/talks/lessons-i-learned-about-automating-database-deployments/">Lessons I learned
                            about
                            Automating Database Deployments - Bob Walker</a></td>
                    <td><a href="/talks/ci-cd-for-powershell-that-isnt-a-mess/">CI/CD for PowerShell That Isn't a Mess -
                            Thomas
                            Rayner</a></td>
                </tr>
                <tr>
                    <th scope="row"> 11:00 - 11:20</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 11:20 - 11:40</th>
                    <td colspan="3">Break</td>
                </tr>

                <tr>
                    <th scope="row"> 11:40 - 12:10</th>
                    <td> <a href="/talks/pragmatic-pipeline-security/">Pragmatic Pipeline Security - James Wickett</a>
                    </td>
                    <td> <a href="/talks/the-last-bottleneck-of-continuos-delivery/">The Last Bottleneck of Continuous Delivery - Casey Lee, Christine Sills</td>
                    <td> <a href="/speakers/laura-santamaria">Legacy is a Frame of Mind - Laura Santamaria</a></td>
                </tr>
                <tr>
                    <th scope="row"> 12:10 - 12:30</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 12:30 - 14:00</th>
                    <td colspan="3">Lunch</td>
                </tr>
                <tr>
                    <th scope="row"> 14:00 - 14:30</th>
                    <td><a href="/talks/continuous-delivery-for-azure-serverless-paas/">Continuous Delivery for Azure
                            Serverless / PaaS - Scott Nasello</a></td>
                    <td> <a href="/talks/how-we-fixed-our-broken-deployment-process/">How we fixed our broken deployment
                            process
                            - Ryan Rousseau</a></td>
                    <td><a href="/talks/wheres-the-map-of-your-pipeline/">Where's the map of your pipeline? - Steve
                            Pereira</a></td>
                </tr>
                <tr>
                    <th scope="row"> 14:30 - 14:50</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 14:50 - 15:10</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th scope="row"> 15:10 - 15:40</th>
                    <td> <a href="/talks/continuous-delivery-for-machine-learning-patterns-and-pains/">Continuous
                            Delivery for
                            Machine Learning: Patterns and Pains - Emily Gorcenski</a></td>
                    <td> <a href="/talks/real-world-devops/">Real World DevOps - Abel Wang</a></td>
                    <td><a href="/talks/lessons-learned-when-a-dev-does-opsy-things/">Lessons Learned when a Dev does
                            Opsy
                            Things - Cora Fedesna</a></td>
                </tr>
                <tr>
                    <th scope="row"> 15:40 - 16:00</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 16:00 - 16:20</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th scope="row"> 16:20 - 16:50</th>
                    <td> <a href="/talks/ci-cd-ing-my-vax/">CICD-ing My VAX - Cat Swetel, Jimmy Judd</a></td>
                    <td> <a href="/talks/progressive-delivery-patterns-in-the-wild/">Progressive Delivery Patterns In The Wild - Dave Karow</a></td>
                    <td><a href="/talks/continuous-delivery-with-github-actions/">Continuous Delivery with GitHub
                            Actions - Sean
                            Sullivan</a></td>
                </tr>
                <tr>
                    <th scope="row"> 16:50 - 17:10</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 17:10 - 17:30</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th scope="row"> 17:30 - 18:00</th>
                    <td colspan="3">
                        <a href="/talks/reimagining-continuous-integration-delivery-deployment-whatever/">Reimagining
                            Continuous
                            {Integration | Delivery | Deployment | Whatever} - Bryan Liles</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 18:00 - 18:20</th>
                    <td colspan="3">Group Discussion</td>
                </tr>
            </tbody>
        </table>


        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="row" style="width:10%"></th>
                    <th colspan="3" class="text-center">January 22nd</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="td-md">8:00 - 9:00</th>
                    <td colspan="3">Registration</td>
                </tr>
                <tr>
                    <th scope="row">9:00 - 9:10</th>
                    <td colspan="3">Opening Welcome</td>
                </tr>
                <tr>
                    <th scope="row">9:10 - 10:10</th>
                    <td colspan="3">
                        <a href="/talks/learning-from-today-shaping-tomorrow/">Keynote Panel - Dr. Rebecca Parsons, Dr. Nicole Forsgren, Caleb Hailey, Brooke Treadgold</a>
                    </td>
                </tr>
               
                <tr>
                    <th scope="row"> 10:10 - 10:30</th>
                    <td colspan="3">Break</td>
                </tr>

                <tr>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:30%">Room 1</th>
                    <th scope="col" style="width:30%">Room 2</th>
                    <th scope="col" style="width:30%">Room 3</th>
                </tr>

                <tr>
                    <th scope="row"> 10:30 - 11:00</th>
                    <td>
                        <a href="/talks/what-is-quality-and-how-should-we-build-it-in/">What is quality, and how should
                            we build
                            it in? - Jez Humble, Maryam Umar</a>
                    </td>
                    <td>
                        Info coming soon
                    </td>
                    <td>
                        <a href="/talks/ci-cd-agility-and-controlling-pipeline-sprawl/">CI/CD Agility and Controlling
                            Pipeline
                            Sprawl - Angel Rivera</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 11:00 - 11:20</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 11:20 - 11:40</th>
                    <td colspan="3">Break</td>
                </tr>

                <tr>
                    <th scope="row"> 11:40 - 12:10</th>
                    <td>
                        <a href="/talks/-taking-care-of-code-more-and-more-code/">Taking Care of Code ... More and More
                            Code -
                            Jessica Kerr</a>
                    </td>
                    <td><a href="/talks/building-deployment-pipelines-with-jenkins-and-spinnaker/">Building Deployment Pipelines with Jenkins & Spinnaker - Isaac Mosquera</a></td>
                    <td>
                        <a href="/talks/go-faster-be-safer-release-velocity-and-psychological-safety/">Go Faster, Be
                            Safer:
                            Release Velocity And Psychological Safety - Heidi Waterhouse</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 12:10 - 12:30</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 12:30 - 14:00</th>
                    <td colspan="3">Lunch</td>
                </tr>
                <tr>
                    <th scope="row"> 14:00 - 14:30</th>
                    <td>
                        <a href="/talks/continuous-delivery-show-dont-tell/">Continuous Delivery - Show, Don't Tell -
                            James
                            Relph</a>                 
                    </td>
                    <td>
                        Info coming soon
                    </td>
                    <td>
                        <a href="/talks/project-smooth-streamlined-software-delivery-initiative/">Project Smooth -
                            Streamlined
                            Software Delivery Initiative - Sonali Shrivastava</a>                
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 14:30 - 14:50</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 14:50 - 15:10</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th scope="row"> 15:10 - 15:40</th>
                    <td>
                        <a href="/talks/how-secure-is-your-build-server/">How secure is your build/server? - Patrick Debois</a>
                    </td>
                    <td> Info coming soon</td>
                    <td>
                        <a href="/talks/ci-cd-and-ml-mlops-the-way-to-speed-bringing-machine-learning-to-production/">CI/CD
                            + ML
                            == MLOps - The Way to Speed Bringing Machine Learning to Production - David Aronchick</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 15:40 - 16:00</th>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                    <td>Group Discussion</td>
                </tr>
                <tr>
                    <th scope="row"> 16:00 - 16:20</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th scope="row"> 16:20 - 16:40</th>
                    <td colspan="3">Sponsor Drawings in main room</td>
                </tr>

                <tr>
                    <th scope="row"> 16:40 - 17:10</th>
                    <td colspan="3">
                        <a href="/talks/fast-and-simple-observing-code-and-infra-deployments-at-honeycomb/">Fast &
                            simple:
                            observing code & infra deployments at Honeycomb - Liz Fong-Jones, Danyel Fisher</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 17:10 - 17:30</th>
                    <td colspan="3">Group Discussion</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>