<section id="sponsor" class="section sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class = "row">
<div class = "col-md-8 col-sm-12"> -->
    
    <p>We're very excited about providing a conference <a href="/format">format</a> which will drive real interaction between sponsors and participants. You'll have access to "focus group" style discussions after each and every talk where you can learn what people are looking for from you, their partners. </p>
      
    <p>Gold sponsors will get a full length talk and the same twenty minute discussion to show off how they've solved specific problems for other people (no sales pitches so we can keep interest high!).</p>

    <p>Our goal is to make everyone experiences the event as full participants, whether they be attendees or sponsors. This format costs a bit more to provide, but as a volunteer run, not for profit event we'll be stretching every dollar to make sure you get great value</p>
      
    <p>For more information contact us now at <a href="mailto:sponsorship@deliveryconf.com?subject=Sponsorship%20question%20from%20the%20website" target="_blank">sponsorship@deliveryconf.com</a></p>

    <p>To view the prospectus click <a href="http://bit.ly/deliveryconf-sponsorship">here</a></p>
    
    

        <h2>Sponsorship Packages</h2>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">THE GOODS</th>
              <th scope="col" style="white-space:nowrap;">GOLD (sold out)</th>
              <th scope="col">SILVER</th>
              <th scope="col">BRONZE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Price</td>
              <td>$10,000</td>
              <td>$7,000</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>
                Pay Now
              </td>
              <td>
                Sold Out
              </td>
              <td>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2LP3AQMEEZEHG">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
              </td>
              <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7UJQAD2UEYVMY">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
            <tr>
              <td>30 minute talk in the sponsor track focusing on a technical solution. Talks are subject to approval. Straight "pitches" won't be allowed, and wouldn't give you the results you want anyway</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tickets Included</td>
              <td>3</td>
              <td>2</td>
              <td>1</td>
            </tr>
            <tr>
                <td>8' x 8' booth</td>
                <td align="center"><img src="/images/tick-305245_640.png"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6' table in sponsor area</td>
                <td></td>
                <td align="center"><img src="/images/tick-305245_640.png"></td>
                <td></td>
            </tr>
            <tr>
              <td>Logo on the website</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
            </tr>
            <tr>
              <td>Social media shout-out</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
            </tr>
            <tr>
              <td>Logo on slides at breaks</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
            </tr>
            <tr>
              <td>Logo on participant emails</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td></td>
            </tr>
            <tr>
              <td>Shout-out from MC's at kickoff and again at breaks</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Dedicated logo slide during breaks</td>
              <td align="center"><img src="/images/tick-305245_640.png"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <th colspan=2>Other Offerings</th>
            </tr>
            <tr>
              <td>Video Sponsor - Your logo on a title screen before each video. To be published on YouTube after the event (up to 3 available, all logos on one screen before each recording</td>
              <td>$5,000 each</td>
            </tr>
            <tr>
              <td>Continental breakfast - 2 tickets to the conference, signs with your logo, and a public thank you from the MC</td>
              <td>$3,000 per day</td>
            </tr>
            <tr>
              <td>Box lunch day 1 - 2 tickets to the conference, signs with your logo, and a public thank you from the MC</td>
              <td>$4,000</td>
            </tr>
            <tr>
              <td>Hot buffet lunch day 2 - 2 tickets to the conference, signs with your logo, and a public thank you from the MC</td>
              <td>$5,000</td>
            </tr>
          </tbody>
        </table>
      </div>

        <div class="col-12">
            <br />
            <br />
            Sponsors are responsible for providing high-res logos for use on the website and in promotional materials.
            The preferred file formats are EPS or AI.
            <br /><br />
            <b>All booth staff must be registered to attend</b>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
