<section id="sponsor" class="section sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class = "row">
<div class = "col-md-8 col-sm-12"> -->
      We greatly value sponsors for this community event. If you have questions or are intersted in sponsoring please send email to <a href="mailto:sponsorship@deliveryconf.com">sponsorship@deliveryconf.com</a>
      <br>

        <h2>Sponsorship Packages</h2>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">THE GOODS</th>
              <th scope="col">GOLD</th>
              <th scope="col">SILVER</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Price</td>
              <td>$8,000</td>
              <td>$5,000</td>
            </tr>
            <tr>
              <td></td>
              <td>
                PayPal
              </td>
              <td>
                <!-- silver Paypal button  -->
                PayPal
              </td>
            </tr>
            <tr>
              <td>Tickets Included</td>
              <td>4</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Logo on the website</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
            </tr>
            <tr>
              <td>Social media shout-out</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
            </tr>
            <tr>
              <td>Logo on marketing materials</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
            </tr>
            <tr>
              <td>Logo on slides at breaks</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
            </tr>
            <tr>
              <td>Logo on participant emails</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
            </tr>
            <tr>
              <td>Booth space in sponsor area (with chair)</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td><img src="/events/2019-chicago/half_yak.png"></td>
            </tr>
            <tr>
              <td>Logo on banner in sponsor area</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td></td>
            </tr>
            <tr>
              <td>Logo on banner at evening event</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td></td>
            </tr>
            <tr>
              <td>Shout-out from MC's at kickoff and again at breaks</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td></td>
            </tr>
            <tr>
              <td>Dedicated logo slide during breaks</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td></td>
            </tr>
            <tr>
              <td>Dedicated sponsor booth in sponsor area (with chair)</td>
              <td><img src="/events/2019-chicago/yak-head.png"></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h2>Special Sponsorships</h2>

        All special sponsors will have their logo displayed on the DeliveryConf website, a tweet before the conference,
        and a thank you during the conference. We do have some flexability with these sponsorships, so just ask! Email
        us: <a href="mailto:sponsors-chicago-2019@devopsdays.org">sponsors-chicago-2019@devopsdays.org</a>.
        <br /><br />

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sponsorship</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Number Available</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Evening Event</td>
              <td>$15,000</td>
              <td>Pay for drinks, food and entertainment - get an exclusive space for the night. Can be split by two
                sponsors</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Wifi</td>
              <td>$1,500</td>
              <td>Custom network name and password</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Live Transcription</td>
              <td>$2,000</td>
              <td>Shout-out during opening remarks</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Video</td>
              <td>$7,000</td>
              <td>Your logo on each video recording</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lanyard</td>
              <td>$4,500</td>
              <td>Your logo and company colors</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Transportation</td>
              <td>$3,000</td>
              <td>Sponsor a custom Lyft code for participants</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lunch</td>
              <td>$6,000</td>
              <td>Sponsor 1 day and get 1min talk before lunch</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Scholarships</td>
              <td>Varies</td>
              <td>Provide tickets for under-represened groups to attend</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-12">
            <br />
            <br />
            Sponsors are responsible for providing high-res logos for use on the website and in promotional materials.
            The preferred file formats are EPS or AI.
            <br /><br />
            <b>All booth staff must be registered to attend</b>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>