{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{/*  {{ partial "info.html" . }}  */}}

    {{ partial "cta.html" . }}

    {{ partial "keynote.html" . }}

    {{ partial "speakers.html" . }}

    {{ partial "about.html" . }}

    {{ partial "propose.html" . }}
    
    {{ partial "register.html" . }}

    {{ partial "counter.html" . }}

    {{ partial "location.html" . }}

    {{ partial "team.html" . }}

    {{ partial "sponsor-list.html" . }}

{{ end }}
